.segmented-control {
    height: 48px;
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    background-color: var(--input-base);

    display: flex;
    /* botões lado a lado */
    gap: 4px;
    padding-inline: 4px;

    .radio-inner {
        margin-block: 4px;
        padding-top: 12px;
        border-radius: 4px;

        display: flex;
        justify-content: center;
        flex: 1;
        gap: 8px;

        position: relative;

        label {
            font: var(--bd-sm);
            color: var(--text-body);
            line-height: 1;
        }

        img {
            all: unset;
            height: 16px;
            width: 16px;
        }

        input {
            /* tira o radio padrão */
            all: unset;
            position: absolute;
            inset: 0;
        }

        &:has(:checked) {
            /* cria uma forma em volta do radio como botão */
            background-color: var(--shape-button);

            label {
                color: var(--text-heading);
                font: var(--bd-sm-semibold);
                line-height: 1;
            }

            img {
                /* muda cor quando der check */
                filter: invert(67%) sepia(56%) saturate(3083%) hue-rotate(184deg) brightness(104%) contrast(101%);
            }
        }
    }

    &:hover,
    &:has(input:focus) {
        outline-color: var(--danger);
    }
}

#customization {

    #main-color,
    #theme {
        label {
            color: var(--text-heading);
        }
    }

    #main-color,
    #theme {
        padding-bottom: 28px;
    }

    #main-color {
        .radio-wrapper {
            display: flex;
            /* alinha os radios de cores */
            align-items: center;
            gap: 12px;
            padding-top: 8px;

            .radio-inner {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--shape-button);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: relative;
                outline: 2px solid var(--shape-button);

                input[type=radio] {
                    all: unset;
                    /* esconde o botão de radio padrão */
                    position: absolute;
                    /* coloca o input radio no mesmo lugar que o radio personalizado */
                    inset: 0;
                    /* preenche todo o espaço do botão de radio personalizado */

                    &:checked {
                        border-radius: 50%;
                        outline: 2px solid var(--brand-light);
                    }

                    &:hover {
                        border-radius: 50%;
                        border: 6px solid var(--shape-hover);
                    }
                }

                .circle-inner {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }

                & .ligthblue {
                    background-color: var(--brand-light);
                }

                & .blue {
                    background-color: var(--blue);
                }

                & .purple {
                    background-color: var(--purple);
                }

                & .fuschia {
                    background-color: var(--fuschia);
                }

                & .pink {
                    background-color: var(--pink);
                }

                & .red {
                    background-color: var(--danger);
                }

                & .orange {
                    background-color: var(--orange);
                }

                & .yellow {
                    background-color: var(--yellow);
                }

                & .lime {
                    background-color: var(--lime);
                }

                & .green {
                    background-color: var(--green);
                }

                & .cyan {
                    background-color: var(--cyan);
                }
            }
        }
    }
}

#theme{
    .radio-wrapper{
        display: flex;
        gap: 8px;
        flex-wrap: wrap; /* para quebrar linha quando não houver espaço suficiente */
        justify-content: center;

        .radio-inner{
            background-color: var(--shape-button);
            border-radius: 8px;
            max-width: 134px;

            display: flex; /* para alinhar os itens dentro do botão de radio */
            flex-direction: column;
            align-items: center;
            outline: 1px solid var(--input-stroke);
            border: 2px solid transparent;
            position: relative;
            
            label{
                padding-top: 8px;
            }
            img{
                border-radius: 4px;
                padding: 4px;
            }
            input{
                all: unset;
                inset: 0;
                position: absolute;
                &:checked{
                    outline: 2px solid var(--brand-light);
                    border-radius: 8px;
                }
            }
            &:hover{
                background-color: var(--shape-hover);
                border-radius: 8px;
            }
        }
    }
}